{% import "post_macros.html" as post_macros %}
{% import "index_macros.html" as index_macros %}

<!DOCTYPE html>
<html>

<head>
    {% block head %}
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta http-equiv="content-type" content="text/html; charset=utf-8">

    <!-- Enable responsiveness on mobile devices-->
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1">

    <title>
        {% block title %}{{ config.title }}{% endblock title %}
    </title>

    {{ index_macros::css() }}
    <!-- This script must follow css -->
    {% if config.extra.zulma_allow_theme_selection %}
    <script type="text/javascript" src="{{ get_url(path="js/zulma_switchcss.js") }}"></script>
    {% endif %}

    {% if config.generate_rss %}
    <link rel="alternate" type="application/rss+xml" title="RSS" href="{{ get_url(path="rss.xml") | safe }}">
    {% endif %}
    <link rel="stylesheet" type="text/css" href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">


    {% if config.build_search_index %}
    <script defer type="text/javascript" src="{{ get_url(path="elasticlunr.min.js") }}"></script>
    <script defer type="text/javascript" src="{{ get_url(path="search_index.en.js") }}"></script>
    {% endif %}

    {% block extra_head %}
    {% endblock extra_head %}

    <noscript>
        <style>
            .navbar-menu {
                display: block;
            }

            .js-only {
                display: none;
            }
        </style>
    </noscript>
    {% endblock head %}
</head>

<body>
    {% block body%}
    {% block content %}
    <!-- START NAV -->
    {% block header %}
    {{ index_macros::navbar() }}
    {% endblock header %}
    <!-- END NAV -->
    <section class="hero">
        <div class="hero-body">
            <div class="container has-text-centered">
                <img src="./images/portrait.png"/>
            </div>
        </div>
        <hr/>
    </section>
    <div class="container">
        <div class="content">
            <p class="is-size-3 is-marginless">Who am I?</p>
            <p class="is-size-5 ">Im a master student at Jönköping University, where i currently study AI Engineering.</p>
        
            
            <p class="is-size-3 is-marginless">Education <i class="fa fa-graduation-cap" aria-hidden="true"></i></p>
            <ul>
                <li class="container">
                    <p class="is-size-4 is-marginless">Master of Computer Science, AI Engineering</p>
                    <p class="is-size-6 is-italic"><i>2019-2021</i>, Jönköping University</p>
                </li>
                <li class="container">
                        <p class="is-size-4 is-marginless">Bachelor of Computer Science</p>
                        <p class="is-size-6 is-italic"><i>2016-2019</i>, Jönköping University</p>
                </li>
            </ul>

            <p class="is-size-3 is-marginless">Work</p>
            <ul>
                <li class="container">
                    <p class="is-size-4 is-marginless">Lab Assistant at Jönköping University</p>
                    <p class="is-size-6 is-italic is-marginless"><i>2018 - now</i>, part time</p>
                    <p class="is-size-6">
                        Working part time as assistant/supervisor for labs in programming for bachelor students. This work includes teaching people new computer science concepts and evaluating their work.
                </li>
                <li class="container">
                    <p class="is-size-4 is-marginless">Software engineer at Husqvarna AB</p>
                    <p class="is-size-6 is-italic is-marginless"><i>2019 - 2019</i>, summer employment </p>
                    <p class="is-size-6">
                        Worked with improving the R&D working processes. This primarly included developing software to improve the efficiency of the department. The work was done using C#, .NET and WPF.
                </li> 

                <li class="container">
                    <p class="is-size-4 is-marginless">Software engineer at Divid AB</p>
                    <p class="is-size-6 is-italic is-marginless"><i>2018 - 2018</i>, intern, summer employment </p>
                    <p class="is-size-6">
                        Developed web apps in NodeJs, Typescript and React.
                </li>
            </ul>
        </div>
    </div>
    
    {% endblock content %}
    {% block footer %}
    {{ index_macros::footer() }}
    {% endblock footer %}

    <script type="text/javascript" src="{{ get_url(path="js/zulma_navbar.js") }}"></script>

    {% if config.build_search_index %}
    <script type="text/javascript" src="{{ get_url(path="js/zulma_search.js") }}"></script>
    {% endif %}

    {% endblock body%}
    
</body>

</html>